<section id="proyectos">
    <div class="container my-3">
    <h3 class="titular text-center">Mis proyectos</h3>
    <button type="button" class="btn btn-dark nuevo-pro" routerLink="/nuevopro" *ngIf="isLogged">
      Nuevo proyecto
    </button>
      <div class="row">
      <!-- tarjeta -->
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6" *ngFor="let Proyectos of proyectos">
        <div class="card shadow">
          <div class="btn-group">
            <!--Botones de edición-->
            <button *ngIf="isLogged" type="button" class="edit-pro rounded-circle" routerLink="/editpro/{{Proyectos.id}}"><i
              class="bi bi-pencil-square"></i></button>
            <button *ngIf="isLogged" type="button" class="delete-pro rounded-circle" (click)="delete(Proyectos.id)"><i
                class="bi bi-x-circle"></i></button>
          </div>
          <img src="{{Proyectos.img}}" class="card-img-top img-fluid" alt="logo-cole">
            <div class="card-body">
              <h4 class="card-title">{{Proyectos.nombrePro}}</h4>
              <p class="card-text">{{Proyectos.descripcionPro}}</div>
        </div>
      </div>
          
     </div>
    </div>
  </section>
