<section id="proyectos">
    <div class="container my-3">
    <h3 class="titular text-center">Mis proyectos</h3>
      <div class="row">
          
      <!-- tarjeta 1 -->
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card shadow">
          <img src="../../../assets/img/proyectos-ejemplo.png" class="card-img-top img-fluid" alt="logo-cole">
            <div class="card-body">
              <h4 class="card-title">Nombre del proyecto</h4>
              <p class="card-text"><h5>Tecnologias utilizadas.</h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate rerum minus temporibus sunt adipisci eligendi iure. Voluptatibus libero illo nihil!</div>
        </div>
      </div>

      <!-- tarjeta 2 -->
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card shadow">
          <img src="../../../assets/img/proyectos-ejemplo.png" class="card-img-top img-fluid" alt="logo-cole">
            <div class="card-body">
              <h4 class="card-title">Nombre del proyecto</h4>
              <p class="card-text"><h5>Tecnologias utilizadas.</h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate rerum minus temporibus sunt adipisci eligendi iure. Voluptatibus libero illo nihil!</div>
        </div>
      </div>
          
      <!-- tarjeta 3 -->
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card shadow">
          <img src="../../../assets/img/proyectos-ejemplo.png" class="card-img-top img-fluid" alt="logo-cole">
            <div class="card-body">
              <h4 class="card-title">Nombre del proyecto</h4>
              <p class="card-text"><h5>Tecnologias utilizadas.</h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate rerum minus temporibus sunt adipisci eligendi iure. Voluptatibus libero illo nihil!</div>
        </div>
      </div>

      <!-- catarjeta -->
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="card shadow">
          <img src="../../../assets/img/proyectos-ejemplo.png" class="card-img-top img-fluid" alt="logo-cole">
            <div class="card-body">
              <h4 class="card-title">Nombre del proyecto</h4>
              <p class="card-text"><h5>Tecnologias utilizadas.</h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate rerum minus temporibus sunt adipisci eligendi iure. Voluptatibus libero illo nihil!</div>
        </div>
      </div>
          
     </div>
    </div>
  </section>
