#proyectos .card{
    max-width: 675px;
    margin: 0 10px;
    margin-bottom: 5%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;
}

#proyectos .row{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

#proyectos .card img{
    max-height: 350px;
}

#proyectos .card:hover{
    filter: grayscale(0);
}

#proyectos .card-body{
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    color: #d64a6f;
    width: 100%;
    padding: 2px;
    opacity: 0;
    bottom: -40px;
    transition: .5s;
}

#proyectos .card:hover .card-body{
    opacity: 1;
    bottom: 0;
}

.btn-group {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
  }
  
  .btn-group button {
    margin-left: 10px;
  }
  
  .edit-pro {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.6s ease-out, color 0.6s ease-out;
  }
  
  .edit-pro:hover {
    background-color: #19197a;
    cursor: pointer;
  }
  
  .delete-pro{
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    transition: background-color 0.6s ease-out, color 0.6s ease-out;
  }
  
  .delete-pro:hover{
    background-color: #831e1e;
    cursor: pointer;
  }
  
  .nuevo-pro {
    margin-bottom: 55px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    transition: background-color 0.6s ease-out, color 0.6s ease-out;
    margin-left: 85px;
  }
  
  .nuevo-pro:hover {
    background-color: #d64a6f;
    cursor: pointer;
  }
  
  /* Media queries */

  @media (max-width: 365px) {
    .nuevo-pro{
      font-size: 15px;
    }
  }
  
  @media (max-width: 991.98px) {
    .container {
      text-align: center;
    }
    .card {
      margin: 0 auto;
    }
    .nuevo-pro {
      display: block;
      margin: 0 auto;
    }
  }
