<div class="container" *ngIf="expLab">
    <h1>EDITAR LA EXPERIENCIA LABORAL</h1>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombreExp">Nombre del trabajo</label>
                    <div class="input-group d-flex">
                        <span class="input-group-text"><i class="bi bi-briefcase-fill"></i></span>
                        <input type="text" class="form-control" id="nombreExp" name="nombreExp"
                            [(ngModel)]="expLab.nombreExp" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="descripcionExp">Descripción del trabajo</label>
                    <div class="input-group d-flex">
                        <span class="input-group-text"><i class="bi bi-pen-fill"></i></span>
                        <textarea type="text" class="form-control" id="descripcionExp" name="descripcionExp"
                            [(ngModel)]="expLab.descripcionExp" required></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="img">Imagen sobre el trabajo</label>
                    <div class="input-group d-flex">
                        <span class="input-group-text"><i class="bi bi-image-fill"></i></span>
                        <input type="file" class="form-control" id="img" name="img" (change)="uploadImage($event)"
                            accept=".jpg, .jpeg, .png">
                    </div>
                    <div *ngIf="cargandoImagen" class="spinner-border spinner-border-sm" role="status">
                        <span class="visually-hidden">Cargando...</span>
                    </div>
                </div>
                <button class="btn btn-dark">Actualizar experiencia</button>
            </form>
        </div>
    </div>
</div>