#experiencia {
  background-color: #f8f8f8;
  padding: 100px 0;
}

#experiencia .titular {
  margin-bottom: 50px;
}


.btn-group {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.btn-group button {
  margin-left: 5px;
}

.edit-exp {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  transition: background-color 0.6s ease-out, color 0.6s ease-out;
}

.edit-exp:hover {
  background-color: #19197a;
  cursor: pointer;
}

.delete-exp{
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  transition: background-color 0.6s ease-out, color 0.6s ease-out;
}

.delete-exp:hover{
  background-color: #831e1e;
  cursor: pointer;
}

.card-estilo {
  margin-top: 50px;
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-body {
  padding: 20px;
}

.info-extra h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info-extra p {
  font-size: 16px;
  line-height: 25px;
  color: #474747;
  margin-bottom: 30px;
}


.nueva-exp {
  margin-bottom: 55px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  transition: background-color 0.6s ease-out, color 0.6s ease-out;
  margin-left: 85px;
}

.nueva-exp:hover {
  background-color: #d64a6f;
  cursor: pointer;
}

/* Media queries */

@media (max-width: 767.98px) {
  .card {
    width: 250px;
  }
}

@media (max-width: 991.98px) {
  .container {
    text-align: center;
  }
  .card {
    margin: 0 auto;
  }
}

