<section id="experiencia">
    <div class="container">
      <h3 class="titular text-center"> Experiencia laboral</h3>
    <div class="row align-items-center mx-5">
  
     <!-- tarjeta con foto -->
     <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 card-estilo">
       <div class="card">
        <img src="../../../assets/img/trabajo-ejemplo.png" class="card-img-top" alt="img-laboral">
          <div class="card-body">
            <p class="card-text">Toda informacion de contacto aqui.</p></div>
       </div>
     </div>
  
    <!-- informacion extra -->
     <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 info-extra">
       <h3>Lugar de trabajo</h3>
         <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex at nisi vitae, facilis sint, eos non labore
         molestias quaerat perferendis quae saepe distinctio facere in quos omnis cum sapiente esse itaque recusandae
         dignissimos, aspernatur provident. Itaque, neque deserunt tenetur labore facere adipisci, iste saepe amet
         laudantium est perspiciatis a vitae.</p>
      </div>
  
    <!-- tarjeta con foto -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 card-estilo">
      <div class="card">
        <img src="../../../assets/img/trabajo-ejemplo.png" class="card-img-top" alt="img-laboral">
          <div class="card-body">
            <p class="card-text">Toda informacion de contacto aqui.</p>
          </div>
      </div>
    </div>
  
    <!-- informacion extra -->
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 info-extra">
      <h3>Lugar de trabajo</h3>
         <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex at nisi vitae, facilis sint, eos non labore
         molestias quaerat perferendis quae saepe distinctio facere in quos omnis cum sapiente esse itaque recusandae
         dignissimos, aspernatur provident. Itaque, neque deserunt tenetur labore facere adipisci, iste saepe amet
         laudantium est perspiciatis a vitae.</p></div>
      
      </div>
     </div>
    </section>
  
