.logo-de-ap{
    width: 150px;
}

.container-fluid .navbar-nav .bi{
    color: white;
}

.bi-instagram:hover{
    color: rgb(189, 51, 143) !important;
}

.bi-linkedin:hover{
    color: rgb(127, 187, 255) !important;
}

.bi-github:hover{
    color: rgb(209, 117, 81) !important;
}

.door:hover{
    transform: translateY(-4px) scale(1.10);
}

.btn{
    margin-left: -7%;
}

/* Media queries */

@media (max-width: 365px) {
    .logo-de-ap {
      width: 70%;
    }
    .navbar-brand b {
        font-size: 1rem;
      }
      .navbar-nav b {
        font-size: 0.7rem;
      }
  }

  @media (max-width: 285px) {
    .logo-de-ap {
      width: 60%;
      margin-right: -15px;
    }
    .navbar-brand b {
        font-size: 0.8rem;
      }
      .navbar-nav b {
        font-size: 0.4rem;
      }
  }