#habilidades{
    background: linear-gradient(#d64a6f, rgba(33,16,16, .8)), url('../../../assets/img/habilidad-foto.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    }
    
.titular-habilidad{
    margin-bottom: 8%;
    text-decoration: underline;
    text-decoration-color: #dddbdb;
    text-decoration-thickness: 4px;
    }

.row{
    margin-top: 70px;
}
    
.new-skill{
    margin-bottom: 55px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    transition: background-color 0.6s ease-out, color 0.6s ease-out;
    margin-left: 85px;
}

.new-skill:hover{
    background-color: #d64a6f;
    cursor: pointer;
}

/* Media queries */
  
  @media (max-width: 999px) {
    .new-skill {
      /* Estilos para pantallas menores a 1000px de ancho */
      display: block;
      margin: 0 auto;
    }
  }