<section id="habilidades">
    <div class="row">
    <h3 class="titular-habilidad">HABILIDADES</h3>
        
    <!-- skill 1 -->
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <circle-progress
            [percent]="85"
            [radius]="120"
            [imageSrc]="'../../../assets/img/logo-html.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'white'"
            [animation]="true"
            [animationDuration]="600">
        </circle-progress>
    </div>
    <!-- skill 2 -->
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <circle-progress
        [percent]="85"
        [radius]="120"
        [imageSrc]="'../../../assets/img/logo-html.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="600">
        </circle-progress>
    </div>
    <!-- skill 3 -->
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <circle-progress
        [percent]="85"
        [radius]="120"
        [imageSrc]="'../../../assets/img/logo-html.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'white'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="600">
        </circle-progress>
    </div>
   </div>
</section>
