<section id="habilidades">
    <div class="container">
    <h3 class="titular-habilidad text-center">HABILIDADES</h3>
    <button type="button" routerLink="/newskill" class="btn btn-dark new-skill" *ngIf="isLogged">Nueva skill</button>
    <div class="row">  
    <!-- skill -->
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4" *ngFor="let skill of skill">
        <div class="skill-container">
          <div class="btn-group">
            <!--Botones de edición-->
            <button *ngIf="isLogged" type="button" class="edit-skill rounded-circle" routerLink="editskill/{{skill.id}}"><i
              class="bi bi-pencil-square"></i></button>
            <button *ngIf="isLogged" type="button" class="delete-skill rounded-circle" (click)="delete(skill.id)"><i
                class="bi bi-x-circle"></i></button>
          </div>
          <span class="skill-percentage">{{skill.porcentaje}}%</span>
          <circle-progress
            [percent]="(skill.porcentaje)"
            [titleFontSize]="'25'"
            [radius]="120"
            [title]="(skill.nombre)"
            [showImage]="false"
            [showTitle]="true"
            [showUnits]="false"
            [showSubtitle] = true
            [subtitleFontSize]="'10'"
            [titleColor] = "'#ffffff'"
            [outerStrokeWidth]="12"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'white'"
            [innerStrokeColor]="'#ccf5ff'"
            [animation]="true"
            [animationDuration]="600">
          </circle-progress>
        </div>
      </div>
   </div>
</div>
</section>
