<section id="mi">
    <div class="container">
      <h3 class="titular text-center mb-5 mt-5"> Sobre Mi</h3>
    <div class="row align-items-center">
    
     <!-- Foto de perfil -->
    <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6 foto-de-perfil">
      <img src="../../../assets/img/FotoPerfil3.jpg" class="img-fluid" alt="foto-mia">
    </div>
     
    <!-- Mini descripcion mia -->
     <div class="col-sm-12 col-md-4 col-lg-6 col-xl-6 sobre-mi">
      <h2>Hola, soy <span>Nahuel Menares</span></h2>
      <h3>Full Stack Developer Jr</h3>
       <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex at nisi vitae, facilis sint, eos non labore
       molestias quaerat perferendis quae saepe distinctio facere in quos omnis cum sapiente esse itaque recusandae
       dignissimos, aspernatur provident. Itaque, neque deserunt tenetur labore facere adipisci, iste saepe amet
       laudantium est perspiciatis a vitae.</p>
       <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, quam.</p></div></div>
   </div>
 </section>
