#mi{
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
}

.foto-de-perfil{
    max-width: 300px;
    margin-top: 60px;
    margin-right: 80px;
    align-items: end;
}

.foto-de-perfil img{
    padding: 10px;
    width: 100%;
    border-radius: 200px;
    background-color: #f3f3f3;
    margin-left: 20px;
    margin-top: 5px;
}

.sobre-mi{
    align-content: center;
}

.sobre-mi h2{
    font-size: 32px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

.sobre-mi h2 span{
    color: #d64a6f;
}

.sobre-mi h3{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.sobre-mi p{
    font-size: 16px;
    line-height: 25px;
    color: #474747;
    margin-bottom: 12px;
    word-wrap: break-word;
    white-space: pre-line;
}

.edit-persona {
    right: 96px;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    transition: background-color 0.6s ease-out, color 0.6s ease-out;
  }
  
  .edit-persona:hover {
    background-color: #d64a6f;
    cursor: pointer;
  }

 /* Media queries */

 @media (max-width: 365px) {
  #mi .foto-de-perfil img {
    width: 220px;
    margin: 0;
  }
  #mi .edit-persona {
    font-size: 13px;
    right: auto;
    left: 30%;
    transform: translate(-50%, 0);
  }
}

 @media (max-width: 767px) {
    #mi .container {
      text-align: center;
    }
    .foto-de-perfil {
      margin: 0 auto;
    }
  }

 @media (min-width: 768px) and (max-width: 991.98px){
    .edit-persona {
      right: -10px;
    }
  }