<section id="back-login">
    <div class="container w-75 bg-light mt-5 rounded shadow">
      <div class="row align-items-stretch">
  
       <!-- Background -->
        <div class="col foto-inicio d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
        </div>
  
       <!-- Mi logo -->
        <div class="col bg-white p-5 rounded-end">
          <div class="text-end">
            <img src="../../../assets/img/Mi-logo.png" width="78" alt="mi-logo">
          </div>
          <h2 class="fw-bold text-center py-5">Bienvenido</h2>
  
       <!-- Formulario login -->
        <form action="#">
          <div class="mb-4">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" name="email">  
          </div>
          <div class="mb-4">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" name="password">  
          </div>
          <div class="mb-4 form-check">
            <input type="checkbox" class="form-check-input" name="connected">
            <label for="connected" class="form-check-label">Mantener sesión abierta</label>  
          </div>
       
       <!-- Boton inicio -->
          <div class="d-grid">
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
          </div>
        </form>
  
       <!-- Boton registarse -->
          <div class="my-3">
            <span>No tienes cuenta? <a href="registrarse.html">Regístrate</a></span></div>
       </div>
      </div>
     </div>

     <footer id="pie-de-pagina">
        <small>&copy; 2023 <b>Nahuel Menares</b> - Todos los derechos reservados.</small>
      </footer>
  </section>   
