#banner {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .8)),
        url('https://firebasestorage.googleapis.com/v0/b/arprograma-front.appspot.com/o/imagen%2Fbanner.png?alt=media&token=5e852884-8f9a-4a9b-be71-ad72894e1fab');
    background-size: cover;
    background-position: center center;
    height: 70vh;
}

.texto-banner {
    max-width: 1100x;
    height: 70vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bienvenidos {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.texto-banner h2 {
    font-size: 40px;
    margin-bottom: 25px;
    text-align: center;
}

.texto-banner h2 span {
    font-size: 25px;
    color: #d64a6f;
}

.texto-banner a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

.texto-banner a:hover {
    background-color: #d64a6f;
}

/* Media queries */

@media (max-width: 365px) {
    .bienvenidos {
        font-size: 0.8rem;
    }

    .texto-banner h2 {
        font-size: 1.3rem;
    }

    .texto-banner p {
        font-size: 0.9rem;
    }

    .texto-banner a {
        font-size: 0.8rem;
        padding: 10px 15px;
    }
}